h1 {
  color: #8B0000;
  text-align: center;
  font-size: 500%;
}

p {color: #8B0000;
  text-align: center;
  font-size: 200%;
  width: 500px;
  height: 30px;
  padding: 500px;
  background-color: #FFFAF0;
 }

body{
  background-image: url("/static/img/hp.jpg");
}


/* Menu */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #8B0000;
  background-image: url("/static/img/f.png");
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #8B0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color:#F0E68C;
}

