{% extends 'slowka.html' %}
{% block content %}
      <h1>Jak powiedzieć, że coś lubimy? Służy do tego czasownik gustar, który jest czasownikiem nieregularnym i dodatkowo korzysta przy odmianie z przyimków.</h1>
<h2>Liczba pojedyncza (gdy mówimy, że lubimy coś robić (czasownik) lub, że lubimy jakiś przedmiot/zwierzę w liczbie pojedynczej), Np. Lubię kota. Lubimy piec ciasteczka.</h2>
<p>Me gusta -lubię</p>
<p>Te gusta - lubisz</p>
<p>Le gusta - lubi</p>
<p>Nos gusta - lubimy</p>
<p>Os gusta - lubicie</p>
<p>Les gusta - lubią</p>
<p>Przykłady: Me gusta leer los libros - lubię czytać książki</p>

<h2>Liczba mnoga - TYLKO gdy mowa o rzeczownikach w liczbie mnogiej</h2>
<p>Do każdej osoby przy gusta dodajemy "-n", czyli wszędzie jest tak samo jak w liczbie pojedynczej, ale "gustan'.</p>
<p>Przykłady: Me gustan los libros - lubię książki</p>

<h2>Ale co zrobię, jeśli ja tego nie lubię?</h2>
<p>Przed czasownikiem gustar dodajemy no (czyli nie) - No me gustan los gatos. - Nie lubię kotów.</p>
{% endblock %}
