{% extends 'slowka.html' %}
{% block content %}
      <h1>A teraz poznacz czasowniki, które pomogą Ci opisać co robisz</h1>
<p>leer un libro /el libro (concreto) - czytać jakąś książkę/ konkretną książkę</p>
<p>cantar - śpiewać</p>
<p>bailar - tańczyć</p>
<p>pasear - spacerować</p>
<p>estudiar - uczyć się</p>
<p>descansar - odpoczywać</p>
<p>jugar futbol - grać w piłke nożną</p>
<p>jugar los juegos de mesa - grać w gry koputerowe</p>
<p>veer la tele - oglądać telewizję</p>
<p>escuchar la música - słuchać muzyki</p>
{% endblock %}
