{% extends 'slowka.html' %}
{% block content %}
      <h1>Przywitaj się i powiedz cos o sobie</h1>
<p>Hola - cześć</p>
<p>Buenos días - dzień dobry</p>
<p>Buenos tardes - dobre popołudnie (używane w porze poobiadowej - najpóźniej od 15)</p>
<p>Buenos noches - dobry wieczór (używane, gdy już się ściemni)</p>
<p>Me llamo (nombre) - Mam na imię (imię)</p>
<p>¿Como te llamas? - Jak masz na imię?</p>
<p>Yo soy polaca/polaco - Jestem Polką/Polakiem</p>
<p>Tengo dos hermanos - Mam dwóch braci</p>
<p>Yo soy estudiante - Jestem studentem/studentką</p>
<p>Vivo en Polonia - mieszkam w Polsce</p>
{% endblock %}
