{% extends 'base.html' %}

{% block content %}
    <h1>O Hiszpanii</h1>

    <p1>Hiszpania leży na Półwyspie Iberyjskim, jej terytorium obejmuje również Wyspy Kanaryjskie i Baleary. Z powodu szerokich, piaszczystych plaż oraz łagodnego klimatu Hiszpania jest jednym z głównych celów wyjazdów wakacyjnych. Wiecznie świecące słońce oraz ciepłe morze zachęcają do wypoczynku. Do najpopularniejszych regionów turystycznych hiszpańskiego wybrzeża z pewnością możemy zaliczyć: Costa de la Luz, Costa del Sol, Costa Brava oraz wyspy Kanaryjskie i Baleary. Hiszpanie zadziwiają swą różnorodnością, miłym nastawieniem do turystów, są przyjacielscy,pełni energii i optymizmu. Dla nich nie ma czegoś takiego jak zmartwienie i nuda,na ich twarzy zawsze gości uśmiech. Warto przekonać się o ich stylu życia,trzeba tego doświadczyć.
    Ten uroczy kraj to nie tylko przyjaźnie nastawieni ludzie ale także przepiękne,piaszczyste plaże na których można uzyskać zdrową opaleniznę. Błękitne wody oceanu przyciągają do kraju co roku wielu turystów. Oprócz tego przyciąga cała gama rozrywek które nam oferuje,nocne zabawy w dyskotekach a dla bardziej aktywnych sport i zwiedzanie. Udając się do kraju trzeba zasmakować wielu wrażeń bez których nie warto wyjeżdżać.
    Historia Hiszpanii jest tak samo fascynująca jak jej zabytki. Oprócz tego tradycyjna kuchnia której trzeba zasmakować. Warto udać się do tego kraju aby przeżyć wszystko to co na nas tam czeka.</p1>
  
{% endblock %}
