{% extends 'slowka.html' %}
{% block content %}
      <h1>Liczby</h1>
<p>0 - cero</p>
<p>1 - uno</p>
<p>2 - dos</p>
<p>3 - tres</p>
<p>4 - cuatro</p>
<p>5 - cinco</p>
<p>6 - seis</p>
<p>7 - siete</p>
<p>8 - ocho</p>
<p>9 - nueve</p>
<p>10 - diez</p>
<p>11 - once</p>
<p>12 - doce</p>
<p>13 - trece</p>
<p>14 - catorce</p>
<p>15 - quince</p>
<p>16 - dieciséis</p>
<p>17 - diecisiete</p>
<p>18 - dieciocho</p>
<p>19 - diecinueve</p>
<p>20 - veinte</p>
<p>21 - veintiuno</p>
<p>32 - treinta y dos</p>
<p>43 - cuarenta y tres</p>
<p>55 - cincuenta y cinco</p>
<p>64 - sesenta y cuatro</p>
<p>76 - setenta y seis</p>
<p>89 - ochenta y nueve</p>
<p>91 - noventa y uno</p>
<p>100 - cien</p>

{% endblock %}
