{% extends 'gramatyka.html' %}
{% block content %}
      <h1>Odmiana czasowników przez osoby</h1>
<p>Nauczmy się podstawowej odmiany czasowników regularych przez osoby. Zaczynamy od odcięcia końcówki, a potem do tego, co pozostało dodajemy nową końcówkę zależną od osoby</p>
<h2>Czasowniki kończące sie na "-ar"</h2>
<p>Yo (ja) -o</p> 
<p>Tu (Ty) -as</p> 
<p>él,ella,usted(on, ona, Pan/Pani) -a</p> 
<p>Nosotros(my) -amos</p> 
<p>Vosotros(wy) -áis</p> 
<p>Ellos, ellas, ustedes(oni, one, Państwo) -an</p> 
<h3>Czasowniki kończące sie na "-er"</h3>
<p>Yo (ja) -o</p> 
<p>Tu (Ty) -es</p> 
<p>él,ella,usted(on, ona, Pan/Pani) -e</p> 
<p>Nosotros(my) -emos</p> 
<p>Vosotros(wy)-éis</p> 
<p>Ellos, ellas, ustedes(oni, one, Państwo) -an</p> 
<h4>Czasowniki kończące sie na "-ir"</h4>
<p>Yo (ja) -o</p> 
<p>Tu (Ty) -es</p> 
<p>él,ella,usted(on, ona, Pan/Pani) -e</p> 
<p>Nosotros(my) -imos</p> 
<p>Vosotros(wy)-ís</p> 
<p>Ellos, ellas, ustedes(oni, one, Państwo) -an</p> 

<p>Przykłady:</p>
<p>cantar (śpiewać) - canto, cantas, canta, cantamos, cantáis, cantan</p>
<p>comer (jeść) - como, comes, come, comemos, coméis, comen</p>
<p>vivr (żyć, mieszkać) - vivo, vives, vive, vivimos, vivís, viven</p>
{% endblock %}
