{% extends 'slowka.html' %}
{% block content %}
      <h1>Rodzina</h1>
<center><img src="static\img\drzewo.jpg"></center>
<p>abuela - babcia</p>
<p>abuelo - dziadek</p>
<p>madre - matka</p>
<p>padre - ojciec</p>
<p>hijo - syn</p>
<p>hija - córka</p>
<p>hermano - brat</p>
<p>hermana - siostra</p>
<p>tío - wuj</p>
<p>tía - ciocia</p>
<p>primo - kuzyn</p>
<p>prima - kuzynka</p>
<p>nieto - wnuk</p>
<p>nieta - wnuczka</p>
<p>esposo - małżonek</p>
<p>esposa - małżonka</p>
<p>sobrino - siostrzeniec, bratanek</p>
<p>sobrina - siostrzenica, bratanica</p>
<p>suegro - teść</p>
<p>suegra - teściowa</p>
<p>yerno - zięć</p>
<p>nuera - synowa</p>

{% endblock %}
