{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Zapraszamy do nauki słówek!</h1>

<!DOCTYPE html>
<html>
  <body>
    <header>
      <nav>
          <ul>
              <li><a href="{% url 'rodzina' %}">Rodzina</a></li>
              <li><a href="{% url 'kolory' %}">Kolory</a></li>
              <li><a href="{% url 'liczby' %}">Liczby</a></li>
              <li><a href="{% url 'hola' %}">hola</a></li>
              <li><a href="{% url 'gustar' %}">gustary</a></li> 
              <li><a href="{% url 'hobby' %}">hobby</a></li>
          </ul>
      </nav>
    </header>
</html>



{% endblock %}
